.icon-SavneC4person {
    background-image: url("img/elements/person.png");
    background-size: cover;
    height: 10px;
    width: 13px;
}

.icon-SavneC4personExternal {
    background-image: url("img/elements/person_external.png");
    background-size: cover;
    height: 10px;
    width: 13px;
}

.icon-SavneC4System {
    background-image: url("img/elements/system.png");
    background-size: cover;
    height: 10px;
    width: 13px;
}

.icon-SavneC4SystemExternal {
    background-image: url("img/elements/system_external.png");
    background-size: cover;
    height: 10px;
    width: 12px;
    margin-left: 2px;
}

.icon-SavneC4Container {
    background-image: url("img/elements/container.png");
    background-size: cover;
    height: 10px;
    width: 13px;
    margin-left: 2px;
}
.icon-SavneC4Component {
    background-image: url("img/elements/component.png");
    background-size: cover;
    height: 10px;
    width: 13px;
    margin-left: 2px;
}

.icon-SavneC4MessageBussContainer {
    background-image: url("img/elements/messageBussContainer.png");
    background-size: cover;
    height: 10px;
    width: 13px;
    margin-left: 2px;
}

.icon-SavneC4Limit {
    color: rgb(128, 128, 128);
}

.icon-SavneC4FCDatabase {
    color: #1061B0!important;
}