.savne-c4-dialog-message {
    margin-top: 2%;
}

.savne-tooltip .savne-tooltip-content {
    visibility: hidden;
    display: inline-block;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    margin-right: 2%;
}

.savne-tooltip:hover .savne-tooltip-content {
    visibility: visible;
}

.savne-tooltip .savne-tooltip-content::before {
    content: "";
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #3a3f41 transparent;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.savne-tooltip .savne-tooltip-content::after {
    content: "";
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #333 transparent;
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
}

.savne-info-circle-icon {
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #007bff;
    position: relative;
    color: #fff;
}

.savne-info-circle-icon::before {
    content: "\i";
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}